body {
    background-image: url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
