body {
    font-family: Tahoma, sans-serif;
}

h1 {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    margin-top: 3rem;
    position: relative;
    z-index: 1;
}

#description {
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-style: italic;
    position: relative;
    z-index: 1;
}

#survey-form {
    position: relative;
    z-index: 1;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(1px);
}

.background-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(45, 2, 118, 0.573);
    z-index: -1;
}

.container {
    display: block;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 55vw;
    background-color: rgba(15, 0, 0, 0.607);
    position: relative;
    z-index: 2;
    overflow: auto;
    margin: auto;
}

label {
    color: white;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container form label {
    margin-left: 30px;
    padding: 10px 0;
    font-weight: 600;
    margin-top: 30px;
}

.clue {
    font-size: 1rem;
    font-weight: 300;
}

form input, form select {
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 400;
    padding: 10px;
}

form input {
    height: 20px;
    width: calc(100% - 50px - 20px);
}

form select {
    height: 40px;
}
